* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
}
.background {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.front, .back {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.front {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
}
.front img {
    max-width: 100%;
    height: auto;
}
.back {
    background-color: #a66d38e1;
    position: relative;
    padding: 20px;
    color: white;
    height: fit-content;
}
.input-form {
    width: 100%;
    text-align: center;
}
.input-form h3 {
    margin-top: 15%;
    margin-bottom: 4%;
    font-size: 40px;
}
.input-form label{
    color: #000000;
    float: left;
    padding-left: 70px;
}
.input-form input {
    width: 80%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.password-container {
    position: relative;
    display: inline-block;
    width: 80%;
}

.password-container input {
    width: 100%;
    padding-right: 35px; 
}

.password-container img.passicon {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 20px; 
}
.error {
    color: rgb(184, 11, 11);
    text-align: left;
    padding-left: 65px;
    font-size: 14px;
    padding-top: 1px;
}

.input-form a {
    color: rgb(8, 46, 68);
    text-decoration: none;
}
.input-form .forgot {
    display: block;
    margin-bottom: 20px;
}
.input-form button {
    margin-top: 10px;
    background-color: #6B2E00;
    border-radius: 10px;
    width: 40%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.signup {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
}
.signup img{
    margin-top: 10px;
}
.log{
    padding-top: 40px;
}
.acc{
    margin-top: 10px;
}
.acc a{
    color: rgb(8, 46, 68);
    text-decoration: none;
}
/* Responsive Design */
@media (max-width: 768px) {
    .background {
        flex-direction: column;
    }
    .front, .back {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .input-form h3 {
        font-size: 32px;
    }
    .input-form input {
        width: 90%;
    }
    .input-form button {
        width: 60%;
    }
}